@component('./components/layout', { title: "FlashCard - Accueil" })
  <h1>
    Bienvenue sur FlashCard
  </h1>
  <h2>Veuillez vous connecter ou vous inscrire pour créer des decks !</h2>

@endcomponent
