* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

/* ═════ header ═════ */

header {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  margin-right: 40px;
}

.logo_image {
  width: 70px;
  padding: 20px;
}

h1 {
  text-align: center;
  padding: 100px;
}

.decks_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 50px;
}

.decks_clickable {
  transition: 1.4s;
  width: 25%;
  height: 220px;
  background-color: rgb(235, 235, 235);
  border-radius: 20px;
}

.link_decks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  color: black;
  color: inherit;
  text-decoration: none;
}

.decks_clickable:hover {
  scale: 1.1;
  transition: 1.1s;
}
