@component('./components/layout', { title: title })

  <h1>
    hello
  </h1>
  <a href="#" onclick="window.history.back()">Annuler</a>
  <form action="{{ route('decks.store') }}" method="POST">
    {{ csrfField() }}

    <label>Titre</label>
    <input type="text" name="title" required />

    <label>Description</label>
    <input type="text" name="description" required />

    <button type="submit">Submit</button>
  </form>
@endcomponent
