@component('./components/layout', { title: title })

  <h1>
    hello
  </h1>
<form action="{{ route('decks.store') }}" method="POST">
    {{ csrfField() }}

    <label>Titre</label>
    <input type="text" id="title" required>

    <label>Description</label>
    <input type="text" id="description" required>

    <button type="submit">Submit</button>
  </form>
@endcomponent
