@component('./components/layout', { title: title })

  <h1>
    {{ deck.title }}
  </h1>

  <p>
    {{ deck.description }}
  </p>
  @each(card in cards)

    <p>
      {{ card.rectoText }}
    </p>
    <p>
      {{ card.versoText }}
    </p>

  @end
@endcomponent
